<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tju.myproject.dao.UserDao">
    <insert id="addUser"  useGeneratedKeys="true" keyProperty="userID">
        INSERT INTO user_info
        SET nickname=#{user.nickname},avatar=#{user.avatar},authority=0
    </insert>
</mapper>